.loginn {
    color: rgb(224, 224, 224);
    text-align: center;
    width: 470px;
    height: 650px;
    margin: auto;
    margin-top: 150px;
    padding-top: 100px;
    background: linear-gradient(#8D8781, #A99883, #F8D596);
    border-width: 0px;
       border-color: white;
       border-style: solid;
       border-radius: 30px;
       margin-left: 60%;
}
.loginn label{
    padding-top: 40px;
}
.loginn h1{
    color: rgb(231, 150, 0);
    font-weight: 700;
}
.loginn input{
    border-width: 2px;
    border-color: yellow;
       border-style: solid;
       border-radius: 40px;
       padding-left: 30px;
       padding-top: 5px;
       padding-bottom: 5px;
       background-color: rgb(224, 224, 224);

       }
button {
    text-align: center;
     margin-top: 70px;
     padding: 4px 50px;
     color: white;
      background-color: rgb(231, 150, 0);
      border-width: 1px;
      border-color: rgb(231, 150, 0);
         border-style: solid;
         border-radius: 4px;  
         font-weight: 700; 
         box-shadow: 0px 0px 4px 1px rgb(199, 129, 0);
}


.botonn{
    color: grey;
}
p {
    color: grey;
    padding-top: 10px;
    cursor: pointer;
}
u {
    color: grey;
}
img{
    margin-top: 150px;
    position: absolute;
    
    width: 700px;
  }
  
  a{
    color: rgb(231, 150, 0);
  }

  a:hover{
    color: rgb(199, 129, 0);
  }

  @media (max-width: 1280px){
    img{
        margin-top: 150px;
        width: 400px;
        margin-left: 100px;
    }
    .loginn{
        width: 350px;
        margin-top: 5px;
        height: 550px;
    }
    button {
        margin-top: 25px;
    }
  
 }
  
 @media (max-width: 1023px) {
img{
    margin-top: auto;
    width: 80%;
    position: relative;
    margin-left: 10%;
   
}
    .loginn {
        width: 45%;
        margin-top: 100px;
        margin:auto;
      }



 }

 @media (max-width: 667px) {
    
    img {
        margin-top: auto;
        width: 80%;
        position: relative;
        margin: auto;
        margin-left: 10%;
    }
    .loginn {
      width: 60%;
      height: 50%;
      margin-top: 100px;
      margin:auto;
    }
      .loginn input{
        border-width: 2px;
        border-color: yellow;
           border-style: solid;
           border-radius: 40px;
           padding-left: 30px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(224, 224, 224);
           
    
           }
           .loginn h1{
            color: rgb(231, 150, 0);
            font-weight: 700;
            margin-top: 0px;
        }
      
    
  
    button {
        margin-top: auto;
    }

    .botonn {
        margin-bottom: 20px;
    }
    

  }

@media (max-width: 520px) {
    
    img {
        margin-top: auto;
        width: 80%;
        position: relative;
        margin: auto;
        margin-left: 10%;
    }
    .loginn {
      width: 80%;
      height: 50%;
      margin-top: 100px;
      margin:auto;
    }
      .loginn input{
        border-width: 2px;
        border-color: yellow;
           border-style: solid;
           border-radius: 40px;
           padding-left: 30px;
           padding-top: 5px;
           padding-bottom: 5px;
           background-color: rgb(224, 224, 224);
           
    
           }
           .loginn h1{
            color: rgb(231, 150, 0);
            font-weight: 700;
            margin-top: 0px;
        }
      
    
  
    button {
        margin-top: auto;
    }

    .botonn {
        margin-bottom: 20px;
    }
    

  }

/* MODO OSCURO ARRANCA ACA CHICAS  SOLO EL LOGIN*/

body.dark {
    background-color: #302e2e;
    color: rgb(233, 227, 227); 
}

body.dark .loginn {
    background: linear-gradient(#3a3a3a, #353131, #7a7a7a); 
}

body.dark input {
    background-color: #444; 
    color: rgb(248, 233, 233); 
    border-color: #f1e8e8; 
}

body.dark button {
    background-color: #e09e00; 
    color: rgb(247, 246, 246); 
}

body.dark img {
    filter: brightness(0.4); 
}
