img{
    transition: width 0.3s ease;
    height: auto;
    margin: auto;
    display: block;
}

.loginn {
    color: rgb(224, 224, 224);
    margin: auto;
    background: linear-gradient(#8D8781, #A99883, #F8D596);
    border-radius: 30px;
    transition: width 0.3s ease;
    padding: 2rem;
}

.loginn h1{
    color: rgb(231, 150, 0);
}

input{
    border-width: 0.1rem;
    border-color: yellow;
    border-radius: 2rem;
    background-color: rgb(224, 224, 224);
    transition: all 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: rgb(231, 150, 0);
    outline: none;
}

input[type="email"]:valid, input[type="password"]:valid {
    border-color: green !important;
}

input[type="email"].error, input[type="password"].error {
    border-color: red !important;
}

#boton {
    text-align: center;
    margin-top: 70px;
    padding: 4px 50px;
    color: white;
    background-color: rgb(231, 150, 0);
    border-width: 1px;
    border-color: rgb(231, 150, 0);
    border-style: solid;
    border-radius: 4px;  
    font-weight: 700; 
    box-shadow: 0px 0px 4px 1px rgb(199, 129, 0);
}

.row {
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.botonn, u, p {
    color: grey;
}

p {
    padding-top: 10px;
    cursor: pointer;
}

#recuerdame {
    padding: 0  ;
}

#recuerdame:hover {
    cursor: pointer;
}
  
a {
    color: rgb(231, 150, 0);
}

a:hover{
    color: rgb(199, 129, 0);
}
  
@media (min-width: 1024px) {
    .loginn, img {
        width: 470px;
        height: auto;
    }
}

@media (max-width: 1023px) {
    .row {
        flex-direction: column;
    }
    .col-lg-6 {
        width: 100%;
    }
    .loginn {
        margin: 2rem;
        padding: 2rem;
    }
    img, .loginn {
        width: 85%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .loginn, img {
        width: 80%;
    }
}   

@media (max-width: 520px) {
    .loginn,
    img {
        width: 70%;
    }
}  