.loginn {
    color: rgb(224, 224, 224);
    text-align: center;
    width: 470px;
    height: 650px;
    margin: auto;
    margin-top: 150px;
    padding-top: 100px;
    background: linear-gradient(#8D8781, #A99883, #F8D596);
    border-width: 0px;
       border-color: white;
       border-style: solid;
       border-radius: 30px;
}
.loginn label{
    padding-top: 40px;
}
.loginn h1{
    color: rgb(231, 150, 0);
    font-weight: 700;
}
.loginn input{
    border-width: 2px;
    border-color: yellow;
       border-style: solid;
       border-radius: 40px;
       padding-left: 30px;
       padding-top: 5px;
       padding-bottom: 5px;
       background-color: rgb(224, 224, 224);

       }
button {
    text-align: center;
     margin-top: 70px;
     padding: 4px 50px;
     color: white;
      background-color: rgb(231, 150, 0);
      border-width: 1px;
      border-color: rgb(231, 150, 0);
         border-style: solid;
         border-radius: 4px;  
         font-weight: 700; 
         box-shadow: 0px 0px 4px 1px rgb(199, 129, 0);
}
body{
    background-image: url("/img/captura.jpg");
    background-size: cover;
}

.botonn{
    color: grey;
}
p {
    color: grey;
    padding-top: 10px;
}
u {
    color: grey;
}

@media (max-width: 1024px){
    .loginn {
     margin-top: 200px;
    }
     body {
         background-size: cover;
         background-position: left;
         background-repeat: no-repeat;
         height: 1200px;
     }
  
 }
@media (max-width: 667px) {
    .loginn {
      width: 80%;
      height: 550px;
      margin-top: 70px;
    }
    button {
        margin-top: auto;
    }
    body {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

  }