/* TOGGLE */

#Toggle{
  display: none;
}
#label_toggle{
  font-size: 2em;
  top: 10px;
  right: 10px;
  color: #ec7028;
  cursor: pointer;
}

/* VARIABLES GENERALES */

:root {
  --bg-dark: #333232;
  --text-dark: #a09d9d;
  --text-light: #ffffff;
  --bg-input: #2c2c2c;
}

/* MODO OSCURO GENERAL */

body.dark,
body.dark footer,
body.dark file-upload {
  background-color: var(--bg-dark) !important;
  color: var(--text-dark) !important;
}

body.dark input {
  background-color: #444;
  color: rgb(248, 233, 233);
  border-color: #f1e8e8;
}

body.dark button {
  color: rgb(247, 246, 246);
}

.dropdown-item:active {
  background-color: #444;
}

/* CARDS */
body.dark .card,
body.dark .card-product,
body.dark .card-product-info {
  background-color: #444 !important;
  color: var(--text-dark) !important;
}

body.dark h5,
body.dark h4,
body.dark h3 {
  color: #bbb3b3;
}

body.dark .card:hover,
body.dark .card-product:hover {
  background-color: #252525 !important;
  color: var(--text-dark) !important;
  border-color: #ec7028;
}

body.dark .comment {
  background-color: #444 !important;
  color: var(--text-dark) !important;
}

body.dark .comment strong {
  color: white;
}

body.dark .form-control {
  background-color: var(--bg-input) !important;
  color: white;
}

/* INDEX */

body.dark .album{
  background-color: var(--bg-dark) !important;
}

body.dark .bg-light,
body.dark .btn-light {
  background-color: var(--bg-dark) !important; /*FONDO*/
  color: var(--text-light) !important; /*TEXTO*/
}

body.dark .jumbotron{
  filter: brightness(0.5); 
}

/* CATEGORIAS */

body.dark .row {
  background-color: var(--bg-dark) !important;
  color: #8a8686;
}


/* PRODUCTS & PRODUCT INFO */

#product-info-body.dark,
#products-body.dark {
  background: linear-gradient(to bottom, var(--bg-dark), var(--bg-dark)) !important;
}

#product-info-body.dark input,
#products-body.dark input {
  color: #444;
}

#precio {
  color: white;
}

body.dark #header-product {
  filter: brightness(0.5); 
}

/* LOGIN */

body.dark .loginn {
  background: linear-gradient(#292929, #353131, #7a7a7a);
}

#imglogin {
  text-align: center;
}

body.dark input {
  background-color: var(--bg-input);
}

/* PERFIL */

body.dark #profile-page {
  background: linear-gradient(#333333, #444444, #555555);
  border-color: #444444;
}

body.dark input {
  border-color: #444444;
}

body.dark button {
  color: var(--text-light) !important;
}

/* VENDER */

body.dark .needsclick {
  background-color: var(--bg-dark) !important;
}

body.dark .list-group-item {
  background-color: var(--bg-dark) !important;
  color: var(--text-light);
}

body.dark .form-select {
  background-color: var(--bg-dark) !important;
  color: var(--text-light);
}