.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.card-product:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(223, 223, 223);
}

#products-body {
  background: linear-gradient(to bottom, #FB7D00, #F89A2E, #FCB24A,#F9B14E);
}

#product-info-body {
  background: linear-gradient(to bottom, #FB7D00, #F89A2E, #FCB24A,#F9B14E);
}

#header-product {
  align-items: center;
  margin: auto;
  width: 100%;
  height: 90%;
}

#container-product-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.text-muted a{
  color:#FB7D00;
}

@media (max-width: 767px){
  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 6rem;
    height: 100px;
  }
  .card-product {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
    height: 80%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin-top: 3rem;
    align-content: center;
    align-items: center;
    background-color: white;
  }
  .img-card {
    width: 18rem;
    height: 9rem;
    border-radius: 2rem;
  }
  .card-title-product {
    font-weight: bold;
    font-size: 1rem;
  }
  .card-body-product p {
    font-size: 1rem;
  }
  .card-body-product .price-product {
    font-size: 1rem;
    font-weight: bold;
  }
  #bot1 {
    text-align: right;
    background-image: url("/img/bot1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-color: #fff;
  }
  #bot2 {
    text-align: right;
    background-image: url("/img/bot2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-color: #fff;
  }
  #bot3 {
    text-align: right;
    background-image: url("/img/bot3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border-color: #fff;
    margin-right: 1rem;
  }
  #preciofiltro{
    align-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    height: 1rem;
    line-height: normal;
    text-align: end;
  }
  #precio{
    font-family:sans-serif;
    color: #494642;
    font-weight: bold;
    font-size: 0.6rem;
  }
  #min, #max{
   border-radius: 0.7rem;
   background-color: #ecebd7;
   font-style: italic;
   border-color: #d1b3b3;
   font-size: 0.5rem;
   height: 1rem;
   width: 4rem;
   padding: 1%;
  }
  #filtrar, #limpiar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #F89A2E;
    border-color: #fff;
    color:white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.5rem;
  }
  #buscar {
    display: flex;           
    justify-content: left; 
    align-items: center;
    margin-top: 1.5rem;  
    margin-left: 2rem;  
  }
  #busqueda{
    border-radius: 0.5rem;
    background-color: #ecebd7;
    font-style: italic;
    border-color: #d1b3b3;
    width: 50%;
    height: 1.2rem;
    padding: 1%;
    font-size: 0.6rem;
    line-height: 1.2rem;
  }
  #boton{
    background-image: url("/img/lupa.jpeg");
    background-size: contain;
    background-position: center;
    border-radius: 1.5rem;
    border-color: #d1b3b3;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;           
  }
  .page {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .page-track {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    color: #ecebd7;
}
  .card-product-info {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 1rem;
    margin: 0rem 2rem 0rem 2rem;
    gap: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: white;
  }
  .images-gallery {
    flex-basis: 70%;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .img-card-info {
    width: 100%;
    height: 100%;
  }
  .controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2rem;
  }
  .btn-info {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 100%;
    background: #c4bcb3;
    border-color: #343a40;
    border-width: 0.1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-left: 1rem;
    cursor: pointer;
  }
  .btn-info.active{
    background: #6f7377;
  }
  .card-title-product-info {
    font-weight: bold;
    font-size: 2rem;
  }
  .card-category-product-info {
    color: #FB7D00;
    font-size: 1rem;
  }
  .card-body-product-info p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .card-body-product-info .price-product-info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
}

#user-container{
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  background-color:#343a40;
  color: white;
  width: 100px;
  height: 48px;
  align-content: center;
}

@media (min-width: 768px) and (max-width: 1023px){
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    height: 100px;
  }
  .card-product {
    display: flex;
    flex-direction: row;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
    height: 12rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin-top: 3rem;
    align-content: center;
    align-items: center;
    background-color: white;
  }
  .img-card {
    width: 18rem;
    height: 9rem;
    border-radius: 2rem;
  }
  .card-title-product {
    font-weight: bold;
    font-size: 1rem;
  }
  .card-body-product p {
    font-size: 1rem;
  }
  .card-body-product .price-product {
    font-size: 1rem;
    font-weight: bold;
  }
  #bot1 {
    text-align: right;
    background-image: url("/img/bot1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: #fff;
  }
  #bot2 {
    text-align: right;
    background-image: url("/img/bot2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: #fff;
  }
  #bot3 {
    text-align: right;
    background-image: url("/img/bot3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    border-color: #fff;
    margin-right: 1rem;
  }
  #preciofiltro{
    align-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 1rem;
    line-height: normal;
    text-align: end;
  }
  #precio{
    font-family:sans-serif;
    color: #494642;
    font-weight: bold;
    font-size: 0.6rem;
  }
  #min, #max{
   border-radius: 0.7rem;
   background-color: #ecebd7;
   font-style: italic;
   border-color: #d1b3b3;
   font-size: 0.5rem;
   height: 1rem;
   padding: 1%;
  }
  #filtrar, #limpiar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #F89A2E;
    border-color: #fff;
    color:white;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 0.6rem;
  }
  #buscar {
    display: flex;           
    justify-content: left; 
    align-items: center;
    margin-top: 2rem;  
    margin-left: 2rem;  
  }
  #busqueda{
    border-radius: 0.7rem;
    background-color: #ecebd7;
    font-style: italic;
    border-color: #d1b3b3;
    width: 30%;
    height: 1.5rem;
    padding: 1%;
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
  #boton{
    background-image: url("/img/lupa.jpeg");
    background-size: contain;
    background-position: center;
    border-radius: 1.5rem;
    border-color: #d1b3b3;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;           
  }
  .page {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .page-track {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    color: #ecebd7;
}
  .card-product-info {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 1rem;
    margin: 0rem 2rem 0rem 2rem;
    gap: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: white;
  }
  .images-gallery {
    flex-basis: 70%;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .img-card-info {
    width: 100%;
    height: 100%;
  }
  .controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2rem;
  }
  .btn-info {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 100%;
    background: #c4bcb3;
    border-color: #343a40;
    border-width: 0.1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-left: 1rem;
    cursor: pointer;
  }
  .btn-info.active{
    background: #6f7377;
  }
  .card-title-product-info {
    font-weight: bold;
    font-size: 2rem;
  }
  .card-category-product-info {
    color: #FB7D00;
    font-size: 1rem;
  }
  .card-body-product-info p {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .card-body-product-info .price-product-info {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .card-product {
    display: flex;
    flex-direction: row;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 2rem;
    width: 100%;
    gap: 1rem;
    height: 12rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    margin-top: 3rem;
    align-content: center;
    align-items: center;
    background-color: white;
  }
  .img-card {
    width: 18rem;
    height: 9rem;
    border-radius: 2rem;
  }
  .card-title-product {
    font-weight: bold;
    font-size: 1rem;
  }
  .card-body-product p {
    font-size: 1rem;
  }
  .card-body-product .price-product {
    font-size: 1rem;
    font-weight: bold;
  }
  #bot1 {
    text-align: right;
    background-image: url("/img/bot1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-color: #fff;
  }
  #bot2 {
    text-align: right;
    background-image: url("/img/bot2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-color: #fff;
  }
  #bot3 {
    text-align: right;
    background-image: url("/img/bot3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border-color: #fff;
    margin-right: 1rem;
  }
  #preciofiltro{
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  #precio{
    font-size: large;
    font-family:sans-serif;
    color: #494642;
    font-weight: bold;
  }
  #min, #max{
   border-radius: 0.7rem;
   background-color: #ecebd7;
   font-style: italic;
   border-color: #d1b3b3;
  }
  #filtrar, #limpiar {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #F89A2E;
    border-color: #fff;
    color:white;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  #buscar {
    display: flex;           
    justify-content: left; 
    margin-top: 4rem;  
    margin-left: 5rem;  
  }
  #busqueda{
    border-radius: 0.7rem;
    background-color: #ecebd7;
    font-style: italic;
    border-color: #d1b3b3;
    width: 30%;
    height: 2.5rem;
    padding: 1%;
  }
  #boton{
    background-image: url("/img/lupa.jpeg");
    background-size: contain;
    background-position: center;
    border-radius: 1.5rem;
    border-color: #d1b3b3;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;           
  }
  .page {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .page-track {
    display: flex;
    flex-direction: row;
    margin-left: 2.5rem;
    color: #ecebd7;
}
  .card-product-info {
    display: flex;
    flex-direction: row;
    border: 0.2rem solid #ccc;
    border-radius: 3rem;
    padding: 2rem;
    margin: 0rem 2.5rem 0rem 2.5rem;
    gap: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    background-color: white;
  }
  .images-gallery {
    flex-basis: 70%;
    position: relative;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .img-card-info {
    width: 100%;
    height: 100%;
  }
  .controlls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3rem;
  }
  .btn-info {
    width: 0.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #c4bcb3;
    border-color: #343a40;
    border-width: 0.1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    flex-direction: row;
    margin-left: 1rem;
    cursor: pointer;
  }
  .btn-info.active{
    background: #6f7377;
  }
  .card-title-product-info {
    font-weight: bold;
    font-size: 2.5rem;
  }
  .card-category-product-info {
    color: #FB7D00;
    font-size: 1.5rem;
  }
  .card-body-product-info p {
    font-size: 1rem;
    margin-top: 3rem;
  }
  .card-body-product-info .price-product-info {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 4rem;
  }
}
#opciones {
  display: flex; 
  justify-content: flex-end; 
  gap: 1%;
  padding-top: 1%;
}
.page-track a {
  color: #ecebd7;
  padding-right: 0.5rem;
  

}
